extends layout

block content
  h1= title
  input#input_date(type='button', name='input_date', value='Open table')
  br
  div
  canvas#lineChart(width='600', height='400')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
  script(src='/javascripts/sc.js')

