extends layout

block content
  h1= title
  p Input time X:
  input#input_title(type='text', name='input_date')
  input#input_date(type='button', name='input_date', value='Input')
  br
  canvas#lineChart(width='600', height='400')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
  script(src='/javascripts/sc.js')

